.build-Controls{
    width: 100%;
    background-color: #cf8f2e;
    box-shadow: 0 0 21px #00000016;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px 0 ;

}