.build-Control{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.build-Control button {
    display: block;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
}

.build-Control button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.build-Control button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.build-Control .less {  
    background-color: #D39952;
    color: white;
}

.build-Control .more {
    background-color: #8F5E1E;
    color: white;
}

.build-Control .less:hover, .build-Control .less:active {  
    background-color: #DAA972;
    color: white;
}

.build-Control .more:hover,.build-Control .more:active {
    background-color: #99703F;
    color: white;
}